.wrapper{
    width: 900px;
}

.wrapper-content{
    background-color: #fff;
    margin: 10px;
    padding-bottom: 20px;
}

.comment{
    background-color: #fff;
    margin: 10px;
    padding-bottom: 20px;
}

.form{
    margin: 10px;
    padding-bottom: 20px;
}

.middle-content, .footer-content{
    margin: 20px;
}

.direct{
    margin: 20px 10px 10px 10px;
    font-size: 1.2rem;

    span{
        color: red;
    }
}

.row{
    display: flex;
    justify-content: space-between;
}

.row-right{
    width: 70%;
}

.row-left{
    width: 30%;
    margin: 10px;
}

.image{
    background-image: url("https://images.unsplash.com/photo-1536987333706-fc9adfb10d91?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80");
    background-size: cover;
    width: 100%;
    height: 200px;
    margin-top: 20px;
}

.newsletter{
    margin-top: 20px;
}

.tags{
    margin-top: 20px;
}

.comment-title{
    margin: 20px;
    font-size: 2rem;
    padding-top: 20px;
}
@media screen and (max-width: 600px) {
    .wrapper{
        width: 600px;
        padding: 20px;
    }

    .row{
        display: block;
    }

    .row-left{
        width: auto;
    }

    .row-right{
        width: auto;
    }

    .ad{
        width: 96%;
    }
}

@media screen and (max-width: 500px) {
    .wrapper{
        width: 500px;
        padding: 20px;
    }
}