.wrapper{
    width: 900px;
}

.container{
    width: 100%;
}

.slide{
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
}

.slide-show{
    width: 66%;
}

.category{
    width: 32%;
}

.featured{
    margin-top: 30px;
}

.categories-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.business, .technology, .sport{
    width: 50%;
}

.entertainment{
    width: 50%;
}

.block-row{
    display: flex;
    justify-content: center;
}

.block-left{
    width: 70%;
}

.block-right{
    margin: 30px 10px 10px 10px;
    width: 30%;
}

.newsletter{
    margin-top: 30px;
}

.image{
    background-image: url("https://images.unsplash.com/photo-1536987333706-fc9adfb10d91?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80");
    background-size: cover;
    width: 100%;
    height: 200px;
    margin-top: 20px;
}

.ad{
    width: 97%;
    height: 70px;
    margin: 10px;
    background-color: black;
}

.tags{
    margin-top: 20px;
}

@media screen and (max-width: 600px) {
    .wrapper{
        width: 600px;
    }

    .block-row{
        display: block;
    }

    .block-left{
        width: auto;
    }

    .block-right{
        width: auto;
    }

    .ad{
        width: 96%;
    }

}

@media screen and (max-width: 500px) {
    .wrapper{
        width: 500px;
        padding: 20px;
    }

    .slide{
        display: block;
    }
    
    .slide-show{
        width: 100%;
    }

    .category{
        width: 100%;
        margin-top: 10px;
    }

    .categories-row{
        display: block;
    }

    .business, .technology, .sport, .entertainment{
        width: 100%;
    }
}