.header{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: rgb(235, 234, 234);
}

.container{
    background-color: rgb(235, 234, 234);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer{
    display: flex;
    justify-content: center;
}

.copy-right{
    display: flex;
    justify-content: center;
    height: 150px;
    background-color: rgb(235, 234, 234);
}