.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    height: 40px;
    margin: 20px 10px 10px 10px;

    p{
        padding-left: 20px;
        font-weight: bold;
        font-size: 2rem;
    }

    span{
        font-size: 1.2rem;
        padding: 7px;
        // border: 1px solid #ccc;
        opacity: .6;
        cursor: pointer;
    }
}

.card-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 600px) {
    .card-wrapper{
        display: block;
    }
}